.btn-light {
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.8) !important; 
  }

  .btn-light:hover {
    background-color: #ff8c00 !important;  
    border-color: #ff8c00 !important;  
    color: #ffffff !important; 
  }
  .custom-table {
    box-shadow: 0 4px 8px rgba(255, 165, 0, 0.5);
}

.table-responsive {
    margin-top: 125px;
}
.margin-precio {
  margin-right: 13vw;
}
