body {
    background-color: #000000 !important;
}
.margen-footer {
    margin-bottom: 65vh;
}
.card {
    box-shadow: 0 5px 10px 0 #ffffff;
    transition: 0.3s;
    border-radius: 5px;
    height: 100%; 
}
.card:hover {
    box-shadow: 0 8px 16px 0 #ffffff;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    height: 100%; 
}
.no-purchases {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35vh;
    margin-bottom: -25vh;
    color: white;
    text-align: center;
}